<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>

<body>
    <div id="user-name-chat"><%= user %></div>
    <div id="room-container">
        <% rooms.forEach(room => { %>
        <div id=""><%= room %></div>
        <a href="/<%= room %>" value="<%= room %>" class="join-btn">Join</a>
        <% }) %>
    </div>
    <form action="/room" method="POST">
        <input type="text" name="room" required>
        <button type="submit">New room</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script  src="script.js"></script>
</body>

</html>