<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

        <h1>Login</h1>

        <form action="/login" method="POST">
        <div>
            <input type="text" name="user-or-email" placeholder="Username or Email" id="email" required autofocus>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <button type="submit">Login</button>
            <a href="/register">Register</a>
        </div>
        
        </form>

        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
       
    
</body>
</html>
