<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <h1>Login</h1>

        <form action="/login" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="user-or-email" placeholder="Username or email" required>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required>
            <button type="submit">Login</button>
            <a href="/register">Register</a>
        </div>
        
        </form>

        <% if (messages.error) { %>
            <%= messages.error %>
            <% } %>


       
    
</body>
</html>
