<h1>Register</h1>
<form action="/register" method="POST">
<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" required>
    <button type="submit">Register</button>
</div>
</form>
<a href="/login">Login</a>