@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$white: #fff;

$padding: 18px;
$item-spacing: 8px;

%field {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: #555459;
    padding: 0 0.5rem;
    font-family: "Consolas", monaco, courier, monospace;
  }
  
  :root {
    --column-bg: #0D7E83;
    --menu-bg-hover: #076570;
    --active-item: #F79F66;
    --active-item-text: #FFFFFF;
    --hover-item: #D37C71;
    --text-color: #FFFFFF;
    --active-presence: #F79F66;
    --mention-badge: #F15340;
  }

  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family: "Lato", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555459;
    overflow: auto;
  }

  .slack {
    width: 100%;
    height: 100%;
    display: flex;
    
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 150px 250px 1fr;
      grid-template-rows: 1fr;
    }
  }
  
  h1{
    color: black;
  }

  h2,
  h3,
  h4  {
    color: var(--text-color);  
  }
  
  strong {
    font-weight: 700;
  }
  
  button {
    border: 1px solid var(--text-color);
    background: none;
    padding: 5px;
    margin: 3px;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
    cursor: pointer;
    color: var(--text-color);
    
    &:focus,
    &:hover,
    &:active {
      outline: none;
    }
  }

  .profilebar {
    background: var(--menu-bg-hover);
    color: var(--text-color, $white);
    padding: 10%;
    justify-content: center;
  }

  .room-list, .list-online-users {
      cursor: pointer;
  }

  .sidebar {
    position: relative;
    z-index: 1;
    width: 250px;
    background: var(--column-bg, #ae0001);
    color: var(--text-color, $white);
    padding: 5%;
  }

  #addRoom {
    padding: 8px;
    outline: none;
    border: 2px solid var(--text-color);
  }

  .room-container,
.users {
  margin: 0.5rem 0 1.5rem;
  padding-right: $padding;
  
  &__button,
  &__heading {
    padding: 0 0 0 $padding;
    width: 100%;
    color: var(--text-color, $white);
  }
  
  &__number {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 2px;
    font-size: 13px;
    opacity: 0.5;
  }
  
  &__add {
    font-size: 20px;
    color: var(--text-color, $white);
  }
  
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.1;
    text-transform: uppercase;
    opacity: 0.6;
  }
  
  &__button {
    padding: 4px 0 4px $padding;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

  }     
    span {
        opacity: 0.7;
      }
      
      &:before {
        padding: 0 0.3rem;
      }
    
      
      &--active,
      &--active:hover {
        background: var(--active-item, #D3A625);
        color: var(--active-item-text, #680001);
      }
  
}

p {
padding: 2%;
margin: 0;
cursor: pointer;
     &:hover {
     background: var(--hover-item, #BE0002);
     }
     &:focus {
      background: var(--hover-item, #BE0002)
     }

}

.room-container {
    &__button {
      &:before {
        content: "#";
        opacity: 0.5;
      }
    }
  }
  
  .users {
    &__button {
      &:before {
        content: "\f401";
        margin-right: 3px;
        font-family: "Ionicons";
        font-size: 0.6rem;
      }
      
      &--online {
        &:before {
          content: "\f21b";
          color: var(--active-presence, #00FFBA);
        }
      }
      
      &--slackbot {
        &:before {
          content: "\f141";
          color: var(--active-presence, #00FFBA);
          font-size: 0.75rem;
        }
      }
      
      &--active {
        &.dm__button--online,
        &.dm__button--slackbot {
          &:before {
            color: var(--active-item-text, #680001);
          }
        }
      }
    }
  }

  .chat-container {
    position: relative;
    height: 100%;
    flex: 1;
    width: 150vh;

    
    
    &__header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: $padding;
      box-shadow: 0 1px 4px rgba(0,0,0,.15);
      background: $white;
    }
    
    &__h1 {
      flex: 1;
      font-size: 1.4rem;
      font-weight: 900;
      text-align: center;
    }
    
    &__h2 {
      font-size: 1.5rem;
      font-weight: 900;
    }
    
    &__h3 {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: 900;
    }
    
    &__content {
      position: relative;
      top: 60px;
      height: calc(100vh - 60px);
      overflow-y: scroll;
    }
    
    &__container {
      padding: 2rem;
      margin: 0 auto;
      width: 55%;
      max-width: 860px;
      min-width: 800px;
    }
    
    &__section {
      padding: 2rem 0 0;
      border-bottom: 1px solid #DDD;
      
      &:last-of-type {
        border-bottom: 0;
      }
    }
    
    &__field {
      position: relative;
      margin-top: 1rem;
      width: 25%;
      max-width: 25%;
      min-width: 25%;
      padding-right: $padding;
      
      &--full {
        max-width: initial;
        width: 100%;
        margin-top: 2rem;
      }
    }
    
    &__label {
      font-weight: 700;
      display: block;
      font-size: 1.05rem;
      line-height: 1.5rem;
    }
    
    &__color-pickers {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 98%;
    }
    
    &__color-field {
      width: 100%;
      display: flex;
      margin-top: 0.25rem;
      border: 1px solid #C5C5C5;
      border-radius: .25rem;
      padding: 0.25rem;
    }
    
    &__themes {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
    
    &__colorpicker {
      visibility: hidden;
    }
    
    &__hexcode {
      @extend %field;
      flex: 1;
      border: none;
      min-width: 0;
      
      &:focus {
        outline: none;
      }
    }
    
    &__share-input {
      @extend %field;
      display: block;
      width: 100%;
      padding: 0 .75rem;
      margin: 0.25rem 0 5rem;
      border: 1px solid #C5C5C5;
      border-radius: .25rem;
      height: 40px;
      line-height: 40px;
      
      &:hover,
      &:focus,
      &:active {
        border-color: #2780F8;
        outline: none;
      }
      
      &:focus {
        box-shadow: 0 0 7px rgba(39,128,248,.15);
      }
    }
    
    &__input-wrapper {
      width: 1.9rem;
      height: 1.9rem;
      display: inline-block;
      padding: 0;
      cursor: pointer;
      border: 1px solid #C5C5C5;
      border-radius: .25rem;
      
      &--column-bg {
        background: var(--column-bg, #ae0001);
      }
      
      &--menu-bg-hover {
        background: var(--menu-bg-hover, #680001);
      }
      
      &--active-item {
        background: var(--active-item, #D3A625);
      }
      
      &--active-item-text {
        background: var(--active-item-text, #680001);
      }
      
      &--hover-item {
        background: var(--hover-item, #BE0002);
      }
      
      &--text-color {
        background: var(--text-color, $white);
      }
      
      &--active-presence {
        background: var(--active-presence, #00FFBA);
      }
      
      &--mention-badge {
        background: var(--mention-badge, #DE4C0D);
      }
    }
  }

  .chat .chat-container .header-chat .room-name h1 {
    columns: black;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 25.5px;

  }


  .timer {
    margin-left: 15%;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
  }
  
  .chat {
    width: calc(65% - 85px);
    display: flex;
  }
  
  .header-chat {
    background-color: #FFF;
    height: 90px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
    align-items: center;
  }
  
  .chat .header-chat .icon {
    margin-left: 30px;
    color:#515151;
    font-size: 14pt;
  }
  
  .chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:#515151;
  }
  
  .chat .header-chat .right {
    position: absolute;
    right: 40px;
  }
  
  .chat .messages-chat {
    padding: 25px 35px;
  }
  
  .chat .messages-chat .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .chat .messages-chat .message .photo {
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .slack .profilebar .photo {
    display: block;
    width: 85px;
    height: 85px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
  .chat .messages-chat .text {
    margin: 0 35px;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
  }
  
  .text-only {
    margin-left: 45px;
  }
  
  .time {
    font-size: 10px;
    color:lightgrey;
    margin-bottom:10px;
    margin-left: 85px;
  }
  
  .response-time {
    float: right;
    margin-right: 40px !important;
  }
  
  .response {
    float: right;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
  }
  
  .response .text {
    background-color: #e3effd !important;
  }
  
  .footer-chat {
    width: calc(100% - 0px);
    height: 80px;
    display:flex;
    align-items: center;
    position:absolute;
    bottom: 0;
    background-color: transparent;
    border-top: 2px solid #EEE;
    outline: none;
  }
  
  .chat .footer-chat .icon {
    margin-left: 30px;
    color:#C0C0C0;
    font-size: 14pt;
  }
  
  .chat .footer-chat .send {
    color:#fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
  }
  
  .chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:#515151;
  }
  
  .chat .footer-chat .right {
    position: absolute;
    right: 40px;
  }
  
  .write-message {
    border:none !important;
    width:90%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
  }
  
  .footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  
  .clickable {
    cursor: pointer;
  }